<div class="container">
  <form (ngSubmit)="update()" #compagnyForm="ngForm">
    <div class="form-group">
      <label for="name">Name of your compagny</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="compagny.name" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="templates">Template for your compagny</label>
      <div class="select">
        <select id="templates" name="template" [(ngModel)]="compagny.template" required>
          <option value="">Please Select</option>
          <option value="pizzeria">Pizzeria</option>
          <option value="cafeteria">Cafeteria</option>

          <option  *ngFor="let template of templates"  [ngValue]="template">{{template.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Address</label>
      <input type="text" class="form-control" id="addressLine1" name="addressLine1" [(ngModel)]="compagny.addressLine1" required
        autocomplete="off">
      <input type="text" class="form-control" id="addressLine2" name="addressLine2" [(ngModel)]="compagny.addressLine2" autocomplete="off">
      <input type="text" class="form-control" id="addressLine3" name="addressLine3" [(ngModel)]="compagny.addressLine3" autocomplete="off">

      <div class="form-group">
        <label for="name">Postal code</label>
        <input type="text" class="form-control" id="postalCode" name="postalCode" [(ngModel)]="compagny.postalCode" required autocomplete="off">
      </div>

      <div class="form-group">
        <label for="name">Town</label>
        <input type="text" class="form-control" id="town" name="town" [(ngModel)]="compagny.town" required autocomplete="off"></div>
    </div>
    <div class="form-group">
      <label for="name">Telephone number</label>
      <input type="text" class="form-control" id="telephoneNumber" name="telephoneNumber" [(ngModel)]="compagny.telephoneNumber"
        required autocomplete="off" pattern="^([()\.\- x+]*\d[()\- x+]*){4,16}$">
    </div>
    <div class="form-group">
      <label for="name">Email address</label>
      <input type="text" class="form-control" id="emailAdress" name="emailAdress" [(ngModel)]="compagny.emailAdress" required autocomplete="off"
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    </div>
    <div class="form-group">
      <label for="name">Web page tilte</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="compagny.title" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="name">Web page sub tilte</label>
      <input type="text" class="form-control" id="subTitle" name="subTitle" [(ngModel)]="compagny.subTitle" required autocomplete="off">
    </div>


    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Logo of your compagny</h4>
        </div>
        <div class="card-img">
          <img [src]="compagny.logo">
        </div>
        <div class="card-footer">
          <input type="text" placeholder="URL of your logo" class="form-control" id="logo" name="logo" [(ngModel)]="compagny.logo" required autocomplete="off">
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Image of the header on the Web page</h4>
        </div>
        <div class="card-img">
          <img [src]="compagny.image">
        </div>
        <div class="card-footer">
          <input type="text" placeholder="URL of your header" class="form-control" id="image" name="image" [(ngModel)]="compagny.image" required autocomplete="off">
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="!compagnyForm.valid" class="btn btn-success">Submit</button>
  </form>
</div>