<div class="login-wrapper">
  <form class="login" (ngSubmit)="new()">
    <label class="title">
            <h3 class="welcome">Push my shop !</h3>
            Create new account
        </label>
    <div class="login-group">
      <input type="text" class="username" placeholder="First name" id="firstName" name="firstName" [(ngModel)]="customer.firstName"
        required>
      <input type="text" class="username" placeholder="Last name" id="lastName" name="lastName" [(ngModel)]="customer.lastName"
        required>
      <input type="email" class="username" placeholder="Mail" id="mail" name="mail" [(ngModel)]="customer.mail" required>
      <input type="text" class="username" placeholder="Username" id="username" name="username" [(ngModel)]="customer.username"
        required>
      <input type="password" class="password" placeholder="Password" id="password" name="password" [(ngModel)]="customer.password"
        required>
      <button type="submit" class="btn btn-primary">SAVE</button>
      <a routerLink="/" routerLinkActive="active" class="signup">Back</a>

    </div>
  </form>
</div>