<clr-tabs>
    <clr-tab>
        <button clrTabLink>Add New Compagny</button>
        <clr-tab-content *clrIfActive>
            <app-compagny [compagnies]=compagnies></app-compagny>
        </clr-tab-content>
    </clr-tab>
    <clr-tab *ngFor="let compagny of compagnies">
        <button clrTabLink>{{compagny.name}}</button>
        <clr-tab-content *clrIfActive>
            <h2>Products</h2>
            <app-products compagnyId={{compagny.id}}></app-products>
            <h2>Carts</h2>
            <app-carts compagnyId={{compagny.id}}></app-carts>
            <app-events [compagny]=compagny [compagnies]=compagnies></app-events>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>