<clr-dg-row [clrDgItem]="product">
  <clr-dg-cell>
    <input type="text" class="form-control" i18n-placeholder="Enter name of product" placeholder="Enter name of product" id="product.name"
      name="product.name" [(ngModel)]="product.name" required>
  </clr-dg-cell>
  <clr-dg-cell>
    <input type="number" maxlength="10" size="10" class="form-control" i18n-placeholder="Enter price of product" placeholder="Enter price of product"
      id="product.price" name="product.price" [(ngModel)]="product.price" required>
  </clr-dg-cell>
  <clr-dg-cell> <textarea class="form-control" i18n-placeholder="Enter description of product" placeholder="Enter description of product"
      id="product.description" name="product.description" [(ngModel)]="product.description" required></textarea>
  </clr-dg-cell>
  <clr-dg-cell>
    <input class="form-control" i18n-placeholder="URL of Image" placeholder="URL of Image" id="product.image" name="product.image"
      [(ngModel)]="product.image" required>
  </clr-dg-cell>
  <clr-dg-cell>
    <img [src]="product.image">
  </clr-dg-cell>
  <clr-dg-cell>
    <div *ngIf="product.id;then update else create">
    </div>
  </clr-dg-cell>

</clr-dg-row>

<ng-template #update>
  <a (click)="save(product)" class="label label-success clickable" i18n>
      Save
      </a>
  <a (click)="delete(product)" class="label label-danger clickable" i18n>
      Delete
      </a>
</ng-template>

<ng-template #create>
  <a (click)="new()" class="label label-success clickable" i18n>
      Create
      </a>
</ng-template>