<clr-datagrid *ngIf="products">
  <clr-dg-column i18n>Name</clr-dg-column>
  <clr-dg-column i18n>Price</clr-dg-column>
  <clr-dg-column i18n>Description</clr-dg-column>
  <clr-dg-column i18n>URL</clr-dg-column>
  <clr-dg-column i18n>Image</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <app-product *ngFor="let product of products" [product]=product [products]=products [compagnyId]=compagnyId></app-product>

  <app-product [product]=newProduct [products]=products [compagnyId]=compagnyId></app-product>

  <clr-dg-footer>{{products.length}} products
  </clr-dg-footer>
</clr-datagrid>